body {
  font-size: 14px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro SC", "SF Pro Text", "Helvetica Neue", Helvetica, "PingFang SC", "Segoe UI", Roboto, "Hiragino Sans GB", arial, 'microsoft yahei ui', "Microsoft YaHei", SimSun, sans-serif;
  color: #000;
}
div.topbox {
  /*background-color: red;*/
  display: flex;
  height: 72px;
  padding: 0px 112px;
  /*min-width: 1216px;*/
  align-items: center;
}
div.topbox div.loge {
  display: flex;
}
div.topbox div.loge img {
  width: 50px;
  height: 50px;
}
div.topbox div.loge div.wz {
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 88px;
  /*background-color: red;*/
  text-align: justify;
  overflow: hidden;
  color: #676c70;
}
div.topbox div.loge div.wz::after {
  content: "<br/>";
}
div.topbox div.topcen {
  margin-left: 47px;
}
div.topbox div.topcen ul {
  display: flex;
}
div.topbox div.topcen ul li {
  padding: 0px 16px 7px;
}
div.topbox div.topcen ul li a {
  display: block;
  height: 70px;
  padding: 0px 7px;
  /*border-bottom: 2px solid rgb(15,147,255);*/
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  color: #676c70;
}
div.topbox div.topcen ul li a.xz {
  border-bottom: 2px solid #0f93ff;
  color: #0f93ff;
}
div.topbox div.topcen ul li a:hover {
  border-bottom: 2px solid #0f93ff;
  color: #0f93ff;
}
div.topbox div.yh {
  display: flex;
  /*border-radius: 42px;*/
  /*background-color: red;*/
  margin-left: auto;
}
div.topbox div.yh div.yhimg {
  height: 42px;
  width: 42px;
  border-radius: 22px;
  background-image: url("../img/智慧.jpeg");
  /*background-image: url("../img/beijing.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgba(0, 174, 236, 0.7);
  margin-top: auto;
  margin-bottom: auto;
  /*line-height:42px;*/
}
div.topbox div.yh a {
  display: block;
  height: 70px;
  padding: 0px 7px;
  /*border-bottom: 2px solid rgb(15,147,255);*/
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  color: #676c70;
}
div.topbox div.yh a:hover {
  /*border-bottom: 2px solid rgb(15,147,255);*/
  color: #0f93ff;
}
div.cenbox {
  height: 525px;
  width: 1440px;
  background-color: red;
  overflow: hidden;
  animation: dh1 0.6s both linear;
}
div.cenbox div {
  color: snow;
  position: relative;
}
div.cenbox div img {
  position: absolute;
  height: 525px;
  left: -220px;
}
div.cenbox div.wz1 {
  margin-left: 325px;
  margin-top: 149px;
  font-size: 55px;
  font-weight: 600;
}
div.cenbox div.wz2 {
  margin-left: 298px;
  margin-top: 75px;
  font-size: 30px;
  font-weight: 200;
}
div.bottbox {
  margin-top: 10px;
}
div.bottbox div.souye {
  padding: 8px 112px;
}
div.bottbox div.souye div.souye1 {
  animation: dh2 0.3s 0.3s both linear;
  margin-bottom: 30px;
}
div.bottbox div.souye div.souye1 ul {
  display: flex;
}
div.bottbox div.souye div.souye1 ul li a {
  position: relative;
  display: block;
  width: 280px;
  height: 210px;
  padding: 0px 7px;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  color: black;
  margin-right: 139px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: all 0.2s;
}
div.bottbox div.souye div.souye1 ul li a:hover {
  top: -5px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
div.bottbox div.souye div.souye1 ul li a:hover i.iconfont {
  color: #c2ddff;
}
div.bottbox div.souye div.souye1 ul li a i.iconfont {
  font-size: 40px;
}
div.bottbox div.souye div.souye1 ul li a i.i1 {
  position: absolute;
  height: 16px;
  width: 260px;
  background-color: #c2ddff;
  display: block;
  z-index: -1;
  left: 20px;
  top: 42px;
}
div.bottbox div.souye div.souye1 ul li a span {
  display: block;
  line-height: 22px;
  /*font-size: 14px;*/
  /*font-weight: 600;*/
}
div.bottbox div.souye div.souye1 ul li a span:first-child {
  line-height: 70px;
  font-size: 30px;
  font-weight: 600;
}
div.bottbox div.souye div.syjc {
  /*height:initial;*/
  /*height:0px;
            overflow:hidden;*/
  display: none;
}
div.bottbox div.souye div.syjc div {
  text-align: center;
  position: relative;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}
div.bottbox div.souye div.syjc div h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
div.bottbox div.souye div.syjc div i {
  position: absolute;
  height: 16px;
  width: 133px;
  background-color: #c2ddff;
  display: block;
  z-index: -1;
  left: 532px;
  top: 26px;
}
div.bottbox div.souye div.syjc div span {
  display: block;
}
div.bottbox div.souye div.syjc div img {
  max-width: 1190px;
  max-height: 500px;
  margin: 10px auto;
}
div.bottbox div.souye div.wtdy {
  display: none;
}
div.bottbox div.souye div.wtdy div.wtdyn {
  display: flex;
  flex-wrap: wrap;
}
div.bottbox div.souye div.wtdy div.wtdyn div.wt {
  width: 380px;
  height: 125px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  /*background-color: red;*/
  margin: 20px 0px;
  margin-left: 100px;
  padding: 20px;
}
div.bottbox div.souye div.wtdy div.wtdyn div.wt h2 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #c2ddff;
  padding-bottom: 8px;
}
div.bottbox div.souye div.wtdy div.wtdyn div.wt h2 i {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
  color: #6e85e2;
}
div.bottbox div.souye div.wtdy div.wtdyn div.wt span {
  display: block;
  margin-top: 12px;
}
div.bottbox div.souye div.wtdy div.wtdyn div.wt span i {
  /*font-size: 22px;
                            font-weight: 600;*/
  font-size: 18px;
  margin-right: 10px;
  color: #6e85e2;
}
div.bottbox div.souye div.lxwm {
  display: none;
}
div.bottbox div.souye div.lxwm div.lxwmn {
  padding: 20px 112px;
  border: 1px solid #c2ddff;
}
div.bottbox div.souye div.lxwm div.lxwmn h2 {
  width: 399px;
  font-size: 60px;
  text-align: justify;
  text-align-last: justify;
  margin: 0px auto;
  /*font-weight:600;*/
}
div.bottbox div.souye div.lxwm div.lxwmn h2 i {
  font-size: 60px;
}
div.bottbox div.souye div.lxwm div.lxwmn div {
  /*font-size: 30px;*/
  margin-top: 20px;
  margin-left: 175px;
}
div.bottbox div.souye div.lxwm div.lxwmn div.lxfs {
  width: 100px;
  font-size: 18px;
  color: red;
  border-bottom: 2px solid #c2ddff;
}
div.bottbox div.souye div.lxwm div.lxwmn div span {
  margin-left: 20px;
}
div.bottbox div.souye div.lxwm div.lxwmn div span i {
  /*font-size: 30px;*/
  margin-right: 10px;
}
@keyframes dh1 {
  0% {
    margin-top: 50px;
    opacity: 0.1;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes dh2 {
  0% {
    margin-left: -50px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes cx {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes xs {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: 50px;
    opacity: 0;
  }
}